@charset "UTF-8";

.cell {
    display: flex;
}

.title-center {
    text-align: center;
}
.margin {
    margin: 2rem 2rem;
}

ul li {
    list-style-type: square;
}

ol li {
    list-style-type: lower-greek;
}

th, td {
    padding: 8px;
}
th {
    background: skyblue;
    color: darkblue;
}
tr {
    margin-top: 10px;
}